* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    font-family: "Poppins", sans-serif;
    
}

.site-container {
    margin: 0 auto; 
    border: 1px solid red;
    width: 90%;
    max-width: 1920px;
}

header {
    width: 100%;
    padding: 20px; 
    height: 80px;
    background-color: #1d1f1d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

#lab1 {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-left: 5px; 
}


nav.links ul{ 
    font-size: 1.1rem;
    text-transform: uppercase;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-right: 1rem; 
}



nav ul li {
    list-style-type: none;
    padding: 5px; 
 
}


nav ul li:hover {
    transform: scale(1.1);
    transition: 0.2s;


}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    border: 5px solid;
}


.main-text {
  font-size: 1.2rem;
  text-align: left;
  margin: 140px auto 200px auto;
  margin-bottom: 300px;
  max-width: 580px;
  grid-column: 1 / 4;
  font-weight: 300;
  border: 2px solid green; 
}


.portrait {
  margin-top: 30px;
  grid-column: 4 / 5;
  grid-row: 1 / 1;

}


.portrait img {
  width: 100%;
  height: auto;
}



#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #353836;
    color:white; 
    
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    padding-top: 50px; 
    font-size: 1.1rem;
  }
  
  .mobile-menu li {
    margin-bottom: 1rem;
    list-style: none;
  }
  
  .mobile-menu li a {
    color: white;
    text-decoration: none;
  }









  
  
  @media only screen and (max-width: 660px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
.site-container {
  width: 100%;
}


  }






  


  /* Style the rainbow text element. */
.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;
  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}