* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif; 
}

.site-container {
    margin: 0 auto; 
    border: 1px solid red; 
    width: 90%; 
    max-width: 1920px;
}

header {
    width: 100%;
    padding: 20px; 
    height: 80px;
    background-color: #1d1f1d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.logo {
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-left: 5px; 
}




nav.links ul{ 
    font-size: 1.1rem;
    text-transform: uppercase;    
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem; 
    border: 1px solid;
    margin-right: 1rem; 
}



nav ul li {
    list-style-type: none;
    padding: 5px; 
 
}


nav ul li:hover {
    transform: scale(1.1);
    transition: 0.2s;


}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    border: 1px solid;
    height: 500px; 


}